@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600&display=swap');

body{
    font-size: 16px;
    color: black;
    font-family: 'Baloo Bhai 2', cursive;
}

/* header */
#header-nav{
    background-color:gray;
    border-radius: 0;
    border: 0;
    height: 70px;
    border: 3px solid black;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{  /*restaurant name*/
    color: black;
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

 #nav-list{
    margin-top: 0px;
} 

#nav-list a{
    color: black;
    text-align: center;
    background: white;
    border: 2px solid black;
    font-weight: bold;
}

#nav-list a:hover{
    background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #0e0d0d;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -20px;
}
/* end header */

/* single category page */

.text-center {
    text-align: center;
    margin-bottom: 22px;
}

.menu-categories-title{
    font-size: 3.0em;
    font-weight: bolder;
}

.menu-item-tile{
    margin-bottom: 25px;
    background-color: gray;
}

.menu-item-tile{
    font-size: 1.1em;
    text-align: center;
    margin-bottom: -15px;
    margin-right: -15px;
}


.menu-item-description{
    padding-right: 30px;
}
h3.menu-item-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.menu-item-details{
    font-size: .9em;
    font-style: italic;
}
/* end of single category page */

@media (min-width: 1200px){
.container {
    width: 1416px;
}
}

@media (max-width: 768px) {
    #header-nav{
        height: 90px;
    }
    .navbar-brand{
        padding-top: 20px;
        height: 60px;
    }

    .navbar-brand h1{ /*restaurant name*/
        padding-top: 10px;
        font-size: 5vw; 
    }

    #collapsable-nav a{ /*collapsed nav menu glyph*/
        font-size: 1.2em;
    }

    
}
